/*Global Styles */
* {
  box-sizing: border-box;
 /*border: 1px solid red;*/
}

/* ================================= 
  Base Element Styles
==================================== */
body {
  font-family: 'Open Sans', sans-serif;
  background: rgba(252, 250, 250, 0.986);
}
p {
  font-size: .95em;
}
a {
  text-decoration: none;
}
h3 {
  text-align:  center;
}
h4 {
  text-align:  center;
}
img {
  padding:20px 15px 0 15px;
  max-width: 100%;
}
/* ---- Navigation ---- */
.name {
  font-size: 2em;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-nav {
  margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
  display: block;
  font-weight: bold;
  color: #000000;
}
.main-nav a {
  background: #ffffff;
  margin: 10px;
  padding: 10px;
}
.main-nav a:hover {
  color: #eff0ef;
}

/* ---- Layout Containers ---- */
.container {
  background: rgba(252, 250, 250, 0.986);
  padding-bottom: 40px;
}
.container2 {
  background: #ffffff;
  padding-bottom: 40px;
}
.contact-container {
  background: rgba(252, 250, 250, 0.986);
  padding-bottom: 60px;
}
.footer-container {
  background: rgba(252, 250, 250, 0.986);
}
footer {
  padding-left: 15px;
  padding-right: 15px; 
}
/* ---- Page Elements ---- */
.profile-img {
  display: block;
  margin: 20px auto 10px auto;
  padding-bottom: 20px;
  width: 80%;
}
.container p{
  margin:5px 15px;
}
.intro-text {
 padding-left: 15px;
 padding-right:  15px;
 text-align: center;  
}
.portfolio-title {
  padding-top:20px;
}
.light-font {
  font-weight: 600;
}
.description {
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;
}
.contact-title {
   padding-top: 25px;
}
.contact {
  text-align: center;
  padding-top: 25px;
  color:#cccccc;
  font-size: 1em;
  margin: 0;
}
.contact-description {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.contact a {
  color: #747272;
  font-weight: bold;
}
footer {
  background: rgba(252, 250, 250, 0.986);
}
.footer-name {
  float: left;
  font-weight: bold;
}
.footer-top {
  float: right;
  font-weight: bold;
}
.footer-top a {
  color: #000000;  
}
.footer-main-nav li {
  visibility: hidden;
}
hr {
  margin: 0;
}

/*----MEDIA QUERIES----*/

@media (min-width:768px) {
nav {
  text-align: center;
}
.container {
  padding-bottom: 30px;
}
header {
  padding-top: 30px;
}
.name {
  padding-bottom: 10px;
}
.main-nav li{
  display: inline-block;
}
.main-nav a {
  background: rgba(252, 250, 250, 0.986);
  margin: 10px;
  padding: 10px;
}
.profile-img {
  width: 50%; 
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 25px;
}
.intro-text {
  padding-top: 20px;
  padding-left: 15px;
  text-align: left;
}
section {
  width: 50%;
  margin:0;
}
.description {
  padding-left: 55px;
  padding-right: 55px;
}
.contact-description {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.left-column {
  float: left;
  clear:right;
}
.left-travel {
  float: left;
  clear: left;
  }
.left-gallery {
  float: left;
  clear: left;
  }

.right-column {
  float: left;
  clear: right;
}

.contact-container {
  background: rgba(252, 250, 250, 0.986);
}
.footer-container {
  background: rgba(252, 250, 250, 0.986);
  padding-bottom:50px;
}
.footer-top a{
  display: none;
}
footer {
  background: rgba(252, 250, 250, 0.986);
}
.footer-name {
  float: left;
}
footer ul {
  float: right;
}
.footer-main-nav li{
  float: left;
  font-size: 0.8em;
  background: rgba(252, 250, 250, 0.986);
  visibility: visible;
}
.footer-main-nav a {
  background: rgba(252, 250, 250, 0.986);
  margin: 10px;
  padding: 10px;
  color: #000000;
  font-weight: bold;
  float: right;
}
hr {
  margin:0;
}
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
}
@media (min-width: 1025px) {
  .container,
  .banner {
    width: 100%;
    margin: 0 auto;
  }
  .container2 {
    width: 95%;
    margin: 0 auto;
  }
  .name {
  float: left;
  margin-left: 45px; 
  padding-top: 15px;
}


 .main-nav {
  float: right;
  margin: 0;
  padding-top: 10px;
  margin-right: 25px;
  
}

.main-nav li {
  display: inline-block;
  margin-left: 15px;
}
.profile-img {
  float: right;
  width: 44%;
  margin-right: 30px;
 margin-left: 95px;
 margin-top: 0;
}
.intro-text p{
  float: left;
}
.intro-text {
  padding-top: 20px;
  margin-left: 35px;
  text-align: left;
}
section {
  width: 33%;
  margin-left: auto;
  margin-right: auto;

}
.right-column {
  float: left;
}

  .left-travel {
    float: left;
    clear: right;
    }
  .left-gallery {
    float: left;
    clear: right;
    }
    .contact-description {
      width: 50%;
      margin: 0 auto;
      text-align: center;
    }
    .description {
      padding-left: 20px;
      padding-right: 20px;
    }
    .footer-container {
      padding-bottom:10px;
    }
    
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
}
@media (min-width: 1270px) {
  .description {
    padding-left: 5px;
    padding-right: 5px;
  }
}